<!DOCTYPE html>
<html>
    <head>
        <title>Monsters</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
      </head>
    <div class="monster">
        <h1>Name: <%- name %></h1>
        <p><b>Hit Points: </b><%- hit_points %></p>
        <p><b>Armor Class: </b><%- armor_class %></p>
        <p><b>Type: </b><%- type %></p>
        <p><b>Size: </b><%- size %></p>
    </div>

    <a href="/monsters/">All Monsters</a>
</html>